header{
    border: 2px solid transparent;
    font-size: 20px;
    background-color: rgba(117, 226, 117, 0.678);
    font-weight: bold;
}
header img{
    width: 100%;
    height: 60px;
    margin-right: 42%;
}
header li{
    list-style-type: none;
}
header .container{
    margin: 20px 0;
    justify-content: center;
}
.container{
    margin: 20px 0;
}
main{
    background-color:;
}
.contact{
    margin: 2% 0;
    border: 2px solid;
}
.welcome h1{
    text-align: center;
    margin-top: 2%;
}
ul li{
    list-style-type: none;
    margin:10px;
    font-weight: bold;
}
.foot{
    width: 100%;
    border: 2px solid;
}
.foot img{
    height: 400px !important;
}
footer a{
    text-decoration: none;
    font-size: 18px;
}
footer a{
    text-decoration: none;
    font-size: initial;
    font-weight: bold;
}
footer .col{
    text-align: none;
}
footer .container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:;
}
footer{
    border: 2px solid transparent;
    background-color: rgba(117, 226, 117, 0.678);
    text-align: center;
    
}
.base{
    height: 50px;
    background-color:black;
}
footer .row{
    margin: 0 !important;
}
